{% extends 'base/base.html' %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.3.0/jquery.bootstrap-touchspin.min.css" integrity="sha512-0GlDFjxPsBIRh0ZGa2IMkNT54XGNaGqeJQLtMAw6EMEDQJ0WqpnU6COVA91cUS0CeVA5HtfBfzS9rlJR3bPMyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0">Crear una Venta</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'ventas:ventas_list' %}">Ventas</a></li>
                        <li class="breadcrumb-item active">Crear</li>
                    </ol>
                </div>               
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <form method="POST" role="form" id="form" action="{% url 'ventas:venta_create' %}">
                {% include 'ventas/partials/form_content.html' %}
            </form>
        </div>
    </div>
{% endblock content %}

{% block js_page %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.3.0/jquery.bootstrap-touchspin.min.js" integrity="sha512-0hFHNPMD0WpvGGNbOaTXP0pTO9NkUeVSqW5uFG2f5F9nKyDuHE3T4xnfKhAhnAZWZIO/gBLacwVvxxq0HuZNqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% include 'base/functions.html' %}
    <script>
        var table_telas;
        var venta = {
            items: {
                numero_factura:'',
                cliente: '',
                fecha_venta: '',
                condicion_venta: '',
                plazo: '',
                //sub_total_sin_iva: 0,
                monto_total: 0,
                total_iva_10: 0,
                medio_cobro: '',
                banco: '',
                telas: []
            },
            calculate_invoice: function(){
                var monto_total = 0;
                //var sub_total_sin_iva = 0;
                $.each(this.items.telas,function(pos,dict){
                    dict.sub_total = Math.round(dict.metraje_vendido * parseInt(dict.precio_venta));
                    //sub_total_sin_iva += dict.subtotal;
                    monto_total += dict.sub_total; 
                });
                //this.items.sub_total_sin_iva = sub_total_sin_iva;
                this.items.monto_total = monto_total;
                total_iva_10 = Math.round(monto_total / 11);
                //$('input[name=sub_total_sin_iva]').val(Intl.NumberFormat('de-DE').format(this.items.sub_total_sin_iva));
                $('input[name=monto_total]').val(Intl.NumberFormat('de-DE').format(this.items.monto_total));
                $('input[name=total_iva_10]').val(Intl.NumberFormat('de-DE').format(total_iva_10));
            },
            add: function (item){
                this.items.telas.push(item);
                this.list();
            },
            list: function() {
                this.calculate_invoice();
                table_telas = $('#table_telas').DataTable({
                    destroy: true,
                    ordering: false,
                    info: false,
                    responsive: true,
                    autoWidth: false,
                    filter: false,
                    paging: false,
                    searching: false,
                    data: this.items.telas,
                    columns: [
                        { "data": "nombre"},
                        { "data": "codigo"},
                        { "data": "precio_venta" },
                        { "data": "metraje_vendido" },
                        { "data": "sub_total" },
                        { "data": "id" },
                    ],
                    columnDefs: [
                        {
                            targets: [2, 4],
                            "render": function( data, type, row ) {
                                return 'Gs. '+parseInt(data);
                            },
                        },
                        {
                            targets: [3],
                            "render": function( data, type, row ) {
                                return '<input type="text" required="required" name="metraje_vendido" class="form-control form-control-sm input-sm" autocomplete="off" value="'+row.metraje_vendido+'">';
                            },
                        },
                        {
                            targets: [5],
                            class: 'text-center',
                            "render": function( data, type, row ) {
                                return '<a rel="remove" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></a>';
                            },
                        },
                    ],
                    rowCallback( row, data, displayNum, displayIndex, dataIndex ){
                        $(row).find('input[name="metraje_vendido"]').TouchSpin({
                            min: 1,
                            max:  data.metraje,
                            step: 0.01,
                            decimals: 2
                        });
                    },
                    language:{
                        "emptyTable": "Ninguna información en el detalle.",
                    }
                });
            }
        };
        
        $('#fecha_venta').datetimepicker({
            format: 'DD/MM/YYYY',
            locale: 'es',
            maxDate: Date()
        });

        $('#id_cliente').select2({
            language: "es"
        });
        $('#medio_cobro').on('change', function()
        {
            if (this.value=="Efectivo"){
            console.log(this.value);
                $('#form_banco').hide();

            }
            else{
                $('#form_banco').show();
  
            }
        });
        $('#condicion_venta').on('change', function()
        {
            if (this.value=="credito"){
            console.log(this.value);
                $('#form_medio_cobro').hide();

            }
            else{
                $('#form_medio_cobro').show();
  
            }
        });

        $('#banco').val("{{ obj.banco.id }}").change();
        $('#banco').select2({
            width: '100%',
            placeholder: 'Seleccione el banco'
        });

        $('#banco').on('change', function () {
            $(this).valid();
        });
       


        //evento para buscar las telas y agregar en la tabla del detalle
        /*$('input[name="search"]').autocomplete({
            source: function (request,response){
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'search_tela',
                        'term' : request.term
                    },
                    dataType: 'json',
                }).done(function (data){
                    response(data);
                });
            },
            delay: 100,
            minLength: 1,
            select: function (event, ui){
                event.preventDefault();
                ui.item.metraje_vendido = 1;
                ui.item.subtotal = 0;
                if (venta.items.telas.find(tela => tela.id === ui.item.id)){
                    Swal.fire({
                        icon: 'warning',
                        title: 'Atención!',
                        text: 'Por favor, debe seleccionar otra tela.',
                        confirmButtonColor:"#007bff",
                    });
                } else {
                    venta.add(ui.item);
                }
                $(this).val('');
            }
        });*/
        $('select[name="search"]').select2({
            placeholder: 'Ingrese la descripción del producto',
            language:'es',
            allowClear: true,
            ajax: {
                delay: 250,
                type: 'POST',
                url: window.location.pathname,
                data: function (params){
                    var queryParameters = {
                        term: params.term,
                        action: 'search_tela'
                    }
                    return queryParameters;
                },
                processResults: function (data){
                    return {
                        results: data
                    };
                }
            },
            minimumInputLength:1,
        }).on('select2:select', function (e){
            var data = e.params.data;
            data.metraje_vendido = 1;
            data.sub_total = 0;
            if (venta.items.telas.find(tela => tela.id === data.id)){
                Swal.fire({
                    icon: 'warning',
                    title: 'Atención!',
                    text: 'Por favor, debe seleccionar otra tela.',
                    confirmButtonColor:"#007bff",
                });
            } else {
                venta.add(data);
            }
            $(this).val('').trigger('change.select2');
        });
        //evento para eliminar un detalle dentro del listado
        //y evento para actualizar la cantidad
        $('#table_telas tbody')
        .on('click', 'a[rel="remove"]',function(){
            Swal.fire({
                title: '¿Estás seguro de eliminar el producto del detalle?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#dc3545',
                cancelButtonText:"Cancelar",
                confirmButtonText: 'Si, Eliminar',
                reverseButtons:true,
            }).then((result) => {
                if (result.isConfirmed) {
                    var tr = table_telas.cell($(this).closest('td,li')).index();
                    venta.items.telas.splice(tr.row, 1);
                    venta.list();
                }
            })
        })
        .on('change keyup','input[name="metraje_vendido"]', function () {
            var metraje_vendido = parseFloat($(this).val());
            var tr = table_telas.cell($(this).closest('td,li')).index();
            venta.items.telas[tr.row].metraje_vendido = metraje_vendido;
            venta.calculate_invoice();
            $('td:eq(4)',table_telas.row(tr.row).node()).html(Intl.NumberFormat('de-DE').format(venta.items.telas[tr.row].sub_total));
        });
      
        
        
        venta.list();

        var validNumber = new RegExp(/^\d*\.?\d*$/);

        //evento para enviar el formulario
        $(form).on('submit', function (e){
            e.preventDefault();

            if (venta.items.telas.length == 0){
                message_error('Debe tener al menos un ítem en el detalle de la venta');
                return false;
            }
            venta.items.cliente = $('select[name="cliente"]').val();
            venta.items.condicion_venta = $('select[name="condicion_venta"]').val();
            venta.items.plazo = $('select[name="plazo"]').val();
            venta.items.fecha_venta = $('input[name="fecha_venta"]').val();
            venta.items.numero_factura = $('#numero_factura').val();
            venta.items.medio_cobro = $('#medio_cobro').val();
            venta.items.banco = $('select[name="banco"]').val();

            var parameters = new FormData();
            parameters.append('action', $('input[name="action"]').val());
            parameters.append('venta', JSON.stringify(venta.items));
            submit_with_ajax(window.location.pathname, 'Notificación',
            '¿Estas seguro de que quiere registrar la venta?', parameters, function (response) {
                alert_action('Notificación', '¿Desea imprimir la factura de venta?', function () {
                    window.open('/ventas/ventas/listado/pdf/' + response.id + '/', '_blank');
                    location.href = '/ventas/ventas/';
                }, function () {
                    location.href = '/ventas/ventas/';
                });
            });


            //submit_with_ajax(window.location.pathname, 'Notificación', '¿Estás seguro de registrar la venta?', parameters, function() {
            //    location.href = "/ventas/ventas";
            //});
        });

        function condicionVentaSelect(select){
            var form_plazo = document.getElementById('form_plazo');
            if(select.value=='credito'){
                form_plazo.style.display = "block";
                form_medio_cobro.style.display = "none";
            } else {
                form_plazo.style.display = "none";
                form_medio_cobro.style.display = "block";
            }
        }

        function medioPagoSelect(select){
            var form_banco = document.getElementById('form_banco');
            if(select.value=='Cheque'){
                form_banco.style.display = "block";
            } else {
                form_banco.style.display = "none";
            }
        }
    </script>
{% endblock js_page %}
