{% extends 'base/base.html' %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Crear una Venta</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'ventas:ventas_list' %}">Ventas</a></li>
                        <li class="breadcrumb-item active">Crear</li>
                    </ol>
                </div>               
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Datos de la Venta</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title"><i class="fas fa-shopping-cart"></i> Cabecera
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Cliente:</label>
                                                        {{ form.cliente }}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Fecha Venta:</label>
                                                        {{ form.fecha_venta }}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Condición de Venta:</label>
                                                        {{ form.condicion_venta }}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Monto a Pagar:</label>
                                                        {{ form.monto_total }}
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>IVA 10%:</label>
                                                        {{ form.total_iva_10 }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title"><i class="fas fa-boxes"></i> Detalle de Telas</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Busacador de Telas:</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="search"
                                                            placeholder="Ingrese una descripción del producto" autocomplete="off">
                                                            <div class="input-group-append">
                                                                <button type="button" class="btn btn-danger btn-flat"><i class="fas fa-times"></i></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <!--<div class="card-body table-responsive p-0">-->
                                                        <table class="table table-hover text-nowrap" id="table_telas">
                                                            <thead>
                                                                <tr>
                                                                    <th>Tela</th>
                                                                    <th>Precio Unitario</th>
                                                                    <th>Cantidad</th>
                                                                    <th>SubTotal</th>
                                                                    <th>Acciones</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_page %}
    <script>
        var venta = {
            items: {
                cliente: '',
                fecha_venta: '',
                condicion_venta: '',
                monto_total: 0,
                total_iva_10: 0,
                telas: []
            },
            calculate_invoice: function(){
                var monto_total = 0;
                $.each(this.items.telas,function(pos,dict){
                    dict.subtotal = dict.cantidad * parseInt(dict.precio);
                    monto_total += dict.subtotal; 
                });
                this.items.monto_total = monto_total;
                $('input[name=monto_total]').val(this.items.monto_total);
            },
            add: function (item){
                this.items.telas.push(item);
                this.list();
            },
            list: function() {
                this.calculate_invoice();
                $('#table_telas').DataTable({
                    destroy: true,
                    ordering: false,
                    info: false,
                    responsive: true,
                    autoWidth: false,
                    filter: false,
                    paging: false,
                    searching: false,
                    data: this.items.telas,
                    columns: [
                        { "data": "nombre"},
                        { "data": "precio" },
                        { "data": "cantidad" },
                        { "data": "subtotal" },
                        { "data": "id" },
                    ],
                    columnDefs: [
                        {
                            targets: [1],
                            "render": function( data, type, row ) {
                                return 'Gs. '+parseInt(data);
                            },
                        },
                        {
                            targets: [2],
                            "render": function( data, type, row ) {
                                return '<input type="text" name="cantidad" class="form-control form-control-sm" autocomplet="off" value="'+row.cantidad+'">';
                            },
                        },
                        {
                            targets: [3],
                            "render": function( data, type, row ) {
                                return parseInt(data);
                            },
                        },
                        {
                            targets: [4],
                            class: 'text-center',
                            "render": function( data, type, row ) {
                                return '<a rel="remove" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></a>';
                            },
                        },
                    ],
                });
            }
        };
        $('#fecha_venta').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: 'es'
        });
        
        $('input[name="search"]').autocomplete({
            source: function (request,response){
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {
                        'action': 'search_tela',
                        'term' : request.term
                    },
                    dataType: 'json',
                }).done(function (data){
                    response(data);
                });
            },
            delay: 100,
            minLength: 1,
            select: function (event, ui){
                event.preventDefault();
                ui.item.cantidad = 1;
                ui.item.subtotal = 0;
                if (venta.items.telas.find(tela => tela.id === ui.item.id)){
                    Swal.fire({
                        icon: 'warning',
                        title: 'Atención!',
                        text: 'Por favor, debe seleccionar otra tela',
                        confirmButtonColor:"#007bff",
                    });
                } else {
                    venta.add(ui.item);
                }
                $(this).val('');
            }
        });
    </script>
{% endblock js_page %}
