{% extends 'base/base.html' %}

{% block css %}
    <style>
        span.error{
            color: red; font-size: 0.8em;
        }
        .select2-error {
            border: 1px solid #dc3545 !important;
            border-radius: 4px;
        }
    </style>
{% endblock css %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Crear Proveedor</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'proveedores:proveedor_list' %}">Proveedores</a></li>
                        <li class="breadcrumb-item active">Crear</li>
                    </ol>
                </div>               
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Datos del Proveedor</h3>
                        </div>
                        <div class="card-body">
                            {% if obj %}
                                <form method="POST" role="form" id="form" action="{% url 'proveedores:proveedor_edit' obj.pk %}">
                            {% else %}
                                <form method="POST" role="form" id="form" action="{% url 'proveedores:proveedor_create' %}">
                            {% endif %}
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-4" id="grupo_nombre_empresa">
                                        <div class="form-group">
                                            <label form="id_nombre_empresa"><strong>Nombre de la Empresa</strong></label>
                                                {{form.nombre_empresa}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" id="grupo_ruc">
                                            <label form="id_ruc"><strong>{{form.ruc.label}}</strong></label>
                                                {{form.ruc}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label form="id_ciudad"><strong>{{form.ciudad.label}}</strong></label>
                                            <select class="form-control"  name = "ciudad" id="id_ciudad">
                                                {% for ciudad in ciudades %}
                                                    <option value="{{ ciudad.id }}">{{ ciudad.descripcion }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label form="id_direccion"><strong>{{form.direccion.label}}</strong></label>
                                                {{form.direccion}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group" id="grupo_telefono">
                                            <label form="id_telefono"><strong>{{form.telefono.label}}</strong></label>
                                                {{form.telefono}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" id="grupo_email">
                                            <label form="id_email"><strong>{{form.email.label}}</strong></label>
                                                {{form.email}}
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Guardar</button>
                                        <a class="btn btn-danger float-right" href="{% url 'proveedores:proveedor_list' %}">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js_page %}
<script>
    $(document).ready(function(){
        $('#id_ciudad').val("{{ obj.ciudad.id }}").change();
        $('#id_ciudad').select2({
            width: '100%'
        });

        $('#id_ciudad').on('change', function () {
            $(this).valid();
        });

        $("#form").validate({
		    rules: {
		    	nombre_empresa: {required: true, empresaRule:true},
		    	ruc: {required: true, rucRule:true},
                ciudad: {required: true},
                email: {required: false, email: true ,emailRule:true},
            },
            messages: {
                nombre_empresa : {required: "* El campo es requerido"},
                ruc : {required: "* El campo es requerido"},
                ciudad : {required: "* Debe seleccionar una ciudad"},
                email : {email: "* Ingrese un correo válido. Ej: example@gmail.com"},
            },
            errorElement: 'span',
            highlight: function(element){
                console.log(element);
                if (element.name == 'nombre_empresa' || element.name == 'ruc') {
                    $(element).closest('.form-control').addClass('is-invalid');
                    $(element).closest('.form-control').removeClass('is-valid');
                }
            },
            unhighlight: function(element){
                console.log(element);

                if (element.name == 'nombre_empresa' || element.name == 'ruc') {
                    $(element).addClass('is-valid');
                    $(element).closest('.form-control').removeClass('is-invalid');
                }
            },
            errorPlacement: function (error, element) {
                console.log(element);
                if(element.hasClass("select2-hidden-accessible")) {
                    $(element).closest('.form-control').addClass('select2-error');
                    error.insertAfter(element.next('span'));
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $.validator.addMethod("empresaRule", function (value, element) {
            var pattern = /^[a-zA-Z.-\s]+$/i;
            return this.optional(element) || pattern.test(value);
        }, "* El campo debe tener letras");

        $.validator.addMethod("rucRule", function (value, element) {
            var pattern = /^[0-9]+(?:-[0-9])$/;
            return this.optional(element) || pattern.test(value);
        }, "* El formato del ruc debe ser: 123456-0");

        $.validator.addMethod("emailRule", function (value, element) {
            var pattern = /^([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])+/;
            return this.optional(element) || pattern.test(value);
        }, "* Formato del correo incorrecto. Ej: example@gmail.com");

    });
</script>
{% endblock js_page %}