{% extends 'base/base.html' %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Crear Proveedor</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'proveedores:proveedor_list' %}">Proveedores</a></li>
                        <li class="breadcrumb-item active">Crear</li>
                    </ol>
                </div>               
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Datos del Proveedor</h3>
                        </div>
                        <div class="card-body">
                            {% if obj %}
                                <form method="POST" role="form" id="form" action="{% url 'proveedores:proveedor_edit' obj.pk %}">
                            {% else %}
                                <form method="POST" role="form" id="form" action="{% url 'proveedores:proveedor_create' %}">
                            {% endif %}
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-4" id="grupo_nombre_empresa">
                                        <div class="form-group">
                                            <label form="id_nombre_empresa"><strong>Nombre de la Empresa</strong></label>
                                                {{form.nombre_empresa}}
                                            <p class="input_vacio" style="display:none;">* Campo requerido</p>
                                            <p class="input_error" style="display:none;">* Debe ingresar solo letras</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" id="grupo_ruc">
                                            <label form="id_ruc"><strong>{{form.ruc.label}}</strong></label>
                                                {{form.ruc}}
                                            <p class="input_vacio" style="display:none;">* Campo requerido</p>
                                            <p class="input_error" style="display:none;">* Debe ingresar el formato correcto</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label form="id_ciudad"><strong>{{form.ciudad.label}}</strong></label>
                                                <select class="form-control"  name = "ciudad" id="id_ciudad">
                                                    {% for ciudad in ciudades %}
                                                        <option value="{{ ciudad.id }}">{{ ciudad.descripcion }}</option>
                                                    {% endfor %}
                                                </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label form="id_direccion"><strong>{{form.direccion.label}}</strong></label>
                                                {{form.direccion}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group" id="grupo_telefono">
                                            <label form="id_telefono"><strong>{{form.telefono.label}}</strong></label>
                                                {{form.telefono}}
                                            <p class="input_error" style="display:none;">* Debe ingresar solo números</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" id="grupo_email">
                                            <label form="id_email"><strong>{{form.email.label}}</strong></label>
                                                {{form.email}}
                                            <p class="input_error" style="display:none;">* Debe ingresar un correo válido</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Guardar</button>
                                        <a class="btn btn-danger float-right" href="{% url 'proveedores:proveedor_list' %}">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js_page %}
<script>
    $(document).ready(function(){
        $('#id_ciudad').val("{{ obj.ciudad.id }}").change();
        $('#id_ciudad').select2({
            width: '100%'
        });
        
        const formulario = document.getElementById('form');
        const inputs = document.querySelectorAll('#form input');
        
        const expresiones = {
            nombre_empresa: /^[a-zA-Z.'-\s]{1,40}$/,
            ruc: /^[0-9]+(?:-[0-9])$/,
            telefono: /^[0-9]+$/,
            email: /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/
        }

        const validarFormulario = (e) => {
            switch (e.target.name) {
                case "nombre_empresa":
                    validarCampo(expresiones.nombre_empresa, e.target ,'nombre_empresa');
                break;
                case "ruc":
                    validarCampo(expresiones.ruc, e.target ,'ruc');
                break;
                case "telefono":
                    validarCampoSecundario(expresiones.telefono, e.target ,'telefono');
                break;
                case "email":
                    validarCampoSecundario(expresiones.email, e.target ,'email');
                break;
            }
        }

        const validarCampo = (expresion, input, campo) => {
            if(expresion.test(input.value)){
                document.getElementById(`id_${campo}`).classList.remove('is-invalid');
                document.getElementById(`id_${campo}`).classList.add('is-valid'); 
                document.querySelector(`#grupo_${campo} .input_vacio`).setAttribute('style','display:none');
                document.querySelector(`#grupo_${campo} .input_error`).setAttribute('style','display:none');

            } else {
                document.getElementById(`id_${campo}`).classList.add('is-invalid');
                if (input.value == ''){
                    document.querySelector(`#grupo_${campo} .input_vacio`).setAttribute('style','display:block; color: red;');
                    document.querySelector(`#grupo_${campo} .input_error`).setAttribute('style','display:none;');
                } else {
                    document.querySelector(`#grupo_${campo} .input_error`).setAttribute('style','display:block; color: red;');
                    document.querySelector(`#grupo_${campo} .input_vacio`).setAttribute('style','display:none;');
                }
            }
        }

        const validarCampoSecundario = (expresion, input, campo) => {
            if(expresion.test(input.value)){
                document.getElementById(`id_${campo}`).classList.remove('is-invalid');
                document.getElementById(`id_${campo}`).classList.add('is-valid'); 
                document.querySelector(`#grupo_${campo} .input_error`).setAttribute('style','display:none');

            } else {
                if(input.value == '') {
                    document.getElementById(`id_${campo}`).classList.remove('is-invalid');
                    document.getElementById(`id_${campo}`).classList.remove('is-valid');
                    document.querySelector(`#grupo_${campo} .input_error`).setAttribute('style','display:none;');
                } else {
                    document.getElementById(`id_${campo}`).classList.add('is-invalid');
                    document.querySelector(`#grupo_${campo} .input_error`).setAttribute('style','display:block; color: red;');
                }
            }
        }

        inputs.forEach((input) => {
            input.addEventListener('keyup', validarFormulario);
            input.addEventListener('blur', validarFormulario);
        });

        formulario.addEventListener('submit', () => {
            e.preventDefault();
        });
    });
</script>
{% endblock js_page %}