{% extends 'base/base.html' %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Apertura Caja</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'cajas:caja_list' %}">Cajas</a></li>
                        <li class="breadcrumb-item active">Apertura</li>
                    </ol>
                </div>               
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Datos de la Caja</h3>
                        </div>  
                        <div class="card-body">
                            {% if obj %}
                                <form method="POST" role="form" id="form" action="{% url 'cajas:caja_edit' obj.pk %}">
                            {% else %}
                                <form method="POST" role="form" id="form" action="{% url 'cajas:caja_create' %}">
                            {% endif %}
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label form="id_monto_apertura"><strong>{{form.monto_apertura.label}}</strong></label>
                                                {{form.monto_apertura}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label form="fecha_apertura"><strong>{{form.fecha_apertura.label}}</strong></label>
                                                {{form.fecha_apertura}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label form="descripcion"><strong>{{form.descripcion.label}}</strong></label>
                                                    {{form.descripcion}}
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary"><span class="fa fa-save"></span> Abrir Caja</button>
                                        <a class="btn btn-danger float-right" href="{% url 'cajas:caja_list' %}">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js_page %}
<script>
$(document).ready(function(){
    $('#fecha_apertura').datetimepicker({
        format: 'DD/MM/YYYY',
        locale: 'es'
    });
    
    var monto_apertura = document.getElementById("id_monto_apertura");
    monto_apertura.addEventListener('keyup', function(evt){
        var n = this.value.replace(/\D/g,"")//Reemplaza los no digitos, ej: A, ?, _
                          .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, "."); //
        monto_apertura.value = n;
    }, false);

    $("#form").validate({
        rules: {
            monto_apertura: {required: true, montoRule:true},
            descripcion: {required: false},
        },
        messages: {
            monto_apertura: {required: "* El campo es requerido"},
        },
        errorElement: 'span',
        highlight: function(element){
            if (element.name == 'monto_apertura') {
                $(element).closest('.form-control').addClass('is-invalid');
                $(element).closest('.form-control').removeClass('is-valid');
            }
        },
        unhighlight: function(element){
            if (element.name == 'monto_apertura') {
                $(element).closest('.form-control').addClass('is-valid');
                $(element).closest('.form-control').removeClass('is-invalid');
            }
        }
    });

    $.validator.addMethod("montoRule", function (value, element) {
            value = value.split('.').join('');
            return parseInt(value) > 0
        }, "* El campo debe ser mayor a 0");

    $(form).on('submit', function (e){
        var monto_apertura = String($('#id_monto_apertura').val());
        monto_apertura = monto_apertura.split('.').join(''); 
        $('#id_monto_apertura').val(monto_apertura);
    });            
});
</script>
{% endblock js_page %}