{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Crear Usuario</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'user:user_list' %}">Usuarios</a></li>
                        <li class="breadcrumb-item active">Crear</li>
                    </ol>
                </div>               
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    {% if obj %}
                        <form method="POST" role="form" id="form" action="{% url 'user:user_edit' obj.pk %}">
                    {% else %}
                        <form method="POST" role="form" id="form" action="{% url 'user:user_create' %}">
                    {% endif %}
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">
                                    {% if action == 'add' %}
                                        <i class="fas fa-plus"></i>
                                    {% else %}
                                        <i class="fas fa-edit"></i>
                                    {% endif %}
                
                                    {{ title }}
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="{{ action }}">
                                        {% if form.errors %}
                                            <div class="alert alert-danger alert-dismissible">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                                                <ul>
                                                    {% for field in form %}
                                                        {% for error in field.errors %}
                                                            <li>{{ error }}</li>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% for field in form.visible_fields %}
                                            <div class="form-group">
                                                <label>{{ field.label }}</label>
                                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                                            </div>
                                        {% endfor %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-flat">
                                    <i class="fas fa-save"></i> Guardar registro
                                </button>
                                <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                                    <i class="fas fa-times"></i> Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_page %}
    {% include 'base/functions.html' %}
    <script>
        $('#grupos').select2({
            theme: "classic"
        });
        $('#permisos').select2({
            theme: "classic"
        });
        var user = {
            items : {
                first_name : '',
                last_name : '',
                email : "",
                groups : [],
                permisos:[],
                //imagen : "",
                username : '',
                password1 : '',
            }
        }
        $("#form").validate({
		    rules: {
		    	first_name: {required: true, nombreRule:true},
		    	last_name: {required: true, nombreRule:true},
		    	username: {required: true, userNameRule:true},
                email: {required: true, email: true ,emailRule:true},
                password1: {required: true},
                password2: {required: true},
            },
            messages: {
                first_name : {required: "* El campo es requerido"},
                last_name : {required: "* El campo es requerido"},
                username : {required: "* El campo es requerido"},
                password1 : {required: "* El campo es requerido"},
                password2: {required: "* El campo es requerido"},
                email : {required: "* El campo es requerido",email: "* Ingrese un correo válido. Ej: example@gmail.com"},
            },
            errorElement: 'span',
            highlight: function(element){
                if (element.name == 'first_name' || element.name == 'last_name' || element.name == 'username' || element.name == 'email') {
                    $(element).closest('.form-control').addClass('is-invalid');
                    $(element).closest('.form-control').removeClass('is-valid');
                }
            },
            unhighlight: function(element){
                if (element.name == 'first_name' || element.name == 'last_name' || element.name == 'username' || element.name == 'email') {
                    $(element).closest('.form-control').addClass('is-valid');
                    $(element).closest('.form-control').removeClass('is-invalid');
                }
            }
        });

        $('input[name="password2"]').on('change', function(){
            var validate = validateContrasenha();
        })

        function validateContrasenha(){
            var password1 = $('#id_password1').val();
            var password2 = $('#id_password2').val();

            if (password1 != password2){
                Swal.fire({
                    title: "Notificacion",
                    text: "Las contraseñas no coinciden, favor verificar",
                    icon: "warning",
                    confirmButtonColor:"#007bff",
                });
                return true;
            }
            return false;
        }

        $.validator.addMethod("nombreRule", function (value, element) {
            var pattern = /^[a-zA-Z.-\s]+$/i;
            return this.optional(element) || pattern.test(value);
        }, "* El campo debe tener letras");

        $.validator.addMethod("userNameRule", function (value, element) {
            var pattern = /^[\w]+$/i;
            return this.optional(element) || pattern.test(value);
        }, "El campo debe tener un valor alfanumérico (azAZ09)");
        
        $.validator.addMethod("emailRule", function (value, element) {
            var pattern = /^([a-zA-Z0-9_.-])+@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])+/;
            return this.optional(element) || pattern.test(value);
        }, "* Formato del correo incorrecto. Ej: example@gmail.com");     

        $(form).on('submit', function (e){
            e.preventDefault();
            var error = validateContrasenha();
            var $form = $(this);
            console.log(form)
            if (error) return false;
            user.items.first_name= $("#id_first_name").val();
            user.items.last_name= $("#id_last_name").val();
            user.items.email = $("#id_email").val();
            user.items.groups = $("#grupos").val();
            user.items.username = $('#id_username').val();
            //users.items.imagen = $('#id_imagen').val();
            user.items.password1 = $('#id_password1').val();
            user.items.permisos = $('#permisos').val();
            var parameters = new FormData();
            parameters.append('action', $('input[name="action"]').val());
            parameters.append('user', JSON.stringify(user.items));
            //console.log($("#form").validate());
            if(!$(this).validate().form()) return false;
 
            submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {
                location.href = '{{ list_url }}';
            });
        });
    </script>
{% endblock js_page %}