{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Crear Usuario</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'user:user_list' %}">Usuarios</a></li>
                        <li class="breadcrumb-item active">Crear</li>
                    </ol>
                </div>               
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form method="post" action="." enctype="multipart/form-data">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">
                                    {% if action == 'add' %}
                                        <i class="fas fa-plus"></i>
                                    {% else %}
                                        <i class="fas fa-edit"></i>
                                    {% endif %}
                
                                    {{ title }}
                                </h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="{{ action }}">
                                        {% if form.errors %}
                                            <div class="alert alert-danger alert-dismissible">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                                                <ul>
                                                    {% for field in form %}
                                                        {% for error in field.errors %}
                                                            <li>{{ error }}</li>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        {% for field in form.visible_fields %}
                                            <div class="form-group">
                                                <label for="email">{{ field.label }}:</label>
                                                {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-flat">
                                    <i class="fas fa-save"></i> Guardar registro
                                </button>
                                <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                                    <i class="fas fa-times"></i> Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_page %}
    {% include 'base/functions.html' %}
    <script>
        

        $('form').on('submit', function (e) {
            e.preventDefault();
            var parameters = new FormData(this);
            submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {
                location.href = '{{ list_url }}';
            });
        });
    </script>
{% endblock js_page %}