{% extends 'base/base.html' %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Crear IVA</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'configuracion:configuracion_producto_list' %}">IVA's</a></li>
                        <li class="breadcrumb-item active">Crear</li>
                    </ol>
                </div>               
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Datos del Iva</h3>
                        </div>
                    
                        <div class="card-body">
                            {% if obj %}
                                <form method="POST" role="form" id="form" action="{% url 'configuracion:configuracion_producto_edit' obj.pk %}">
                            {% else %}
                                <form method="POST" role="form" id="form" action="{% url 'configuracion:configuracion_producto_create' %}">
                            {% endif %}
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="id_descripcion"><strong>{{form.descripcion.label}}</strong></label>
                                    {{form.descripcion}}
                                </div>
                                <div class="col-md-6">
                                    <label for="id_porcentaje"><strong>{{form.porcentaje.label}}</strong></label>
                                    {{form.porcentaje}}
                                </div>
                            </div>
                            <br>
                            <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                                            
                                            <a class="btn btn-danger float-right" href="{% url 'configuracion:configuracion_producto_list' %}">Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_page %}
<script>
 $(document).ready(function(){
     var porcentaje = document.getElementById("id_porcentaje");
    porcentaje.addEventListener('keyup', function(evt){
        var n = this.value.replace(/\D/g, "") //Reemplaza los no digitos por espacio en cada ocurrencia
                          .replace(/([0-9])([0-9]{2})$/, '$1.$2')  
        porcentaje.value = n;
    }, false);

    $("#form").validate({
        rules: {
            descripcion: {required: true, nombreRule:true},
            porcentaje: {required: true},
        },
        messages: {
            descripcion: {required: "* El campo es requerido"},
            porcentaje: {required: "* El campo es requerido"},
        },
        errorElement: 'span',
        highlight: function(element){
            console.log(element);
            if (element.name == 'porcentaje' || element.name == 'descripcion') {
                $(element).closest('.form-control').addClass('is-invalid');
                $(element).closest('.form-control').removeClass('is-valid');
            }
        },
        unhighlight: function(element){
            console.log(element);

            if (element.name == 'porcentaje' || element.name == 'descripcion') {
                $(element).addClass('is-valid');
                $(element).closest('.form-control').removeClass('is-invalid');
            }
        }
    });

    $.validator.addMethod("nombreRule", function (value, element) {
            var pattern = /^[a-zA-Z.-%\s]+$/i;
            return this.optional(element) || pattern.test(value);
        }, "* El campo debe tener letras");

     $(form).on('submit', function (e){
        var porcentaje = String($('#id_porcentaje').val());
        porcentaje = porcentaje.replace('.','')
                         .replace(',','.');
        $('#id_porcentaje').val(metraje_minimo);

    });
 });
</script>
{% endblock js_page %}