{% extends 'base/base.html' %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Listado de Clientes</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item active">Clientes</li>
                    </ol>
                </div>               
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Opciones</h3>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <a href="{% url 'clientes:cliente_new' %}" class="btn btn-primary btn-block">
                                        <i class="fas fa-plus-square"></i> Nuevo Cliente
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="cliente"><strong>Cliente:</strong></label>
                                    <input type="text" class="form-control" id="cliente" placeholder="Buscar por Nombre, CI o Ruc">
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><strong>Estado:</strong></label>
                                        <select id='estado' class="form-control" style="width: 200px">
                                            <option value="1">ACTIVOS</option>
                                            <option value="0">INACTIVOS</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <th>Nombre Cliente</th>
                                            <th>Cedula</th>
                                            <th>Nro Celular</th>
                                            <th class="all">Acciones</th>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block js_page %}
{% include 'base/modal_delete.html' %}

<script>
    //Call the dataTables JQuery plugins
    $(document).ready(function(){
        //listar_usuario();
        var table = $('.table').DataTable({
            "dom": "Bfrltip",
            "serverSide": true,
            "processing": true,
            "filter": false,
            "ajax": function(data,callback,settings){
                //console.log(data);
                $.get("{% url 'clientes:cliente_list_ajax' %}",{
                    limite: data.length,
                    inicio: data.start,
                    estado: $('#estado').val(),
                    cliente: $('#cliente').val(),
                    }, function(res){
                        //console.log(res);
                        callback({
                            recordsTotal: res.length,
                            recordsFiltered: res.length,
                            data: res.objects
                        });
                    },
                );
            },
            columns: [
                { "data": "nombre_cliente"},
                { "data": "cedula"},
                { "data": "nro_celular"},
                { 
                    "render": function( data, type, full ) {
                        return '<a class="btn btn-warning btn-circle btn-sm" title="Editar" href="/clientes/clientes/edit/'+ full.id+'"> <i class="fas fa-edit"></i> </a>' + 
                                '<button class="btn btn-danger btn-circle btn-sm" data-toggle="modal" data-target="#modal-delete-confirmation" data-action-target="/clientes/clientes/eliminar/'+full.id+'"><i class="fa fa-trash"></i></button>';
                    },
                    "orderable":false
                }
            ],
            language:{
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "{Filtrando de _MAX_ total de entradas}",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "Sin resultados encotrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior",
                        }
                    }
        });
        $('#estado').change(function(){
            table.draw();
        });
        $('#cliente').keyup(function(){
            table.draw();
        });
    });
    
    function listar_usuario(){
        $.ajax({
            url: "{% url 'clientes:cliente_list_ajax' %}",
            type: "GET",
            dataType: "json",
            success: function(response){
                $('.table tbody').html("");
                for(let i=0; i < response.length; i++){
                    let fila = '<tr>';
                    fila += '<td>' + response[i]["nombre_cliente"] +'</td>';
                    id = response[i]["id"];
                    fila += '<td> <button class="btn btn-danger btn-flat" data-toggle="modal" data-target="#modal-delete-confirmation" data-action-target="eliminar/' + id + '">';
                    fila += '<i class="fa fa-trash"></i></button>';
                    fila += '</tr>';
                    $('.table tbody').append(fila);
                }
                $('.table').DataTable({
                    language:{
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "{Filtrando de _MAX_ total de entradas}",
                        "infoPostFix": "",
                        "thousands": ",",
                        "LengthMenu": "Mostrar _MENU_ Entradas",
                        "LoadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "Sin resultados encotrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior",
                        }
                    }
                });
            }
        });
    }

</script>

{% endblock js_page %}