{% extends 'base/base.html' %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Crear Tela</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'telas:tela_list' %}">Telas</a></li>
                        <li class="breadcrumb-item active">Crear</li>
                    </ol>
                </div>               
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Datos de la Tela</h3>
                        </div>
                        <div class="card-body">
                            {% if obj %}
                                <form method="POST" role="form" id="form" action="{% url 'telas:tela_edit' obj.pk %}">
                            {% else %}
                                <form method="POST" role="form" id="form" action="{% url 'telas:tela_create' %}">
                            {% endif %}
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_nombre"><strong>{{form.nombre.label}}</strong></label>
                                                {{form.nombre}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_codigo"><strong>{{form.codigo.label}}</strong></label>
                                                {{form.codigo}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_precio_compra_anterior"><strong>{{form.precio_compra_anterior.label}}</strong></label>
                                                {{form.precio_compra_anterior}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_disenho"><strong>{{form.disenho.label}}</strong></label>
                                                <select class="form-control" name="disenho" id="id_disenho">
                                                    {% for disenho in disenhos %}
                                                        <option value="{{ disenho.id }}">{{ disenho.descripcion }}</option>
                                                    {% endfor %}
                                                </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_categoria"><strong>{{form.categoria.label}}</strong></label>
                                                <select class="form-control"  name="categoria" id="id_categoria">
                                                    {% for categoria in categorias %}
                                                        <option value="{{ categoria.id }}">{{ categoria.descripcion }}</option>
                                                    {% endfor %}
                                                </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_precio_compra"><strong>{{form.precio_compra.label}}</strong></label>
                                                {{form.precio_compra}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">

                                            <label for="id_color"><strong>{{form.color.label}}</strong></label>
                                                {{form.color}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_precio_venta"><strong>{{form.precio_venta.label}}</strong></label>
                                                {{form.precio_venta}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_metraje"><strong>{{form.metraje.label}}</strong></label>
                                                {{form.metraje}}
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button type="submit" id="button" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                                            
                                            <a class="btn btn-danger float-right" href="{% url 'telas:tela_list' %}">Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_page %}
<script>

$(document).ready(function(){
    $.extend( $.validator.messages, {
        min: $.validator.format("Por favor ingrese un valor mayor a 0")
    });

    $('#id_disenho').val("{{ obj.disenho.id }}").change();
    $('#id_disenho').select2({
        width: '100%',
        placeholder: 'Seleccione el Diseño'
    });

    $('#id_disenho').on('change', function () {
        $(this).valid();
    });


    $('#id_categoria').val("{{ obj.categoria.id }}").change();
    $('#id_categoria').select2({
        width: '100%',
        placeholder: 'Seleccione la Categoria'
    });

    $('#id_categoria').on('change', function () {
        $(this).valid();
    });

    var precio_compra = document.getElementById("id_precio_compra");
    precio_compra.addEventListener('keyup', function(evt){
        var n = this.value.replace(/\D/g,"")
                          .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ".");
        precio_compra.value = n;
    }, false);

    var precio_compra_anterior = document.getElementById("id_precio_compra_anterior");
    precio_compra_anterior.addEventListener('keyup', function(evt){
        var n = this.value.replace(/\D/g,"")
                          .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ".");
        precio_compra_anterior.value = n;
    }, false);

    var precio_venta = document.getElementById("id_precio_venta");
    precio_venta.addEventListener('keyup', function(evt){
        var n = this.value.replace(/\D/g,"")
                          .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ".");
        precio_venta.value = n;
    }, false);

    var metraje = document.getElementById("id_metraje");
    metraje.addEventListener('keyup', function(evt){
        var n = this.value.replace(/\D/g, "")
                          .replace(/([0-9])([0-9]{2})$/, '$1,$2')  
                          .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ".")
        metraje.value = n;
    }, false);
    
    $("#form").validate({
		    rules: {
		    	nombre: {required: true, nombreRule:true},
		    	codigo: {required: true, codigoRule:true},
                disenho: {required: true},
                categoria: {required: true},
                precio_compra: {required: true, min:true},
                precio_compra_anterior: {required: true, min:true},
                precio_venta: {required: true, min:true},
                metraje: {required: true, metrajeRule:true},
            },
            messages: {
                nombre : {required: "* El campo es requerido"},
                categoria : {required: "* Selecciona una opcion"},
                disenho : {required: "* Selecciona una opcion"},
                codigo : {required: "* El campo es requerido"},
                precio_compra: {required: "* El campo es requerido"},
                precio_compra_anterior: {required: "* El campo es requerido"},
                precio_venta: {required: "* El campo es requerido"},
                metraje : {required: "* El campo es requerido"},
            },
            errorElement: 'span',
            highlight: function(element){
                if (element.name == 'nombre' || element.name=='disenho' || element.name=='categoria' || element.name == 'codigo' || element.name == 'precio_compra' || element.name == 'precio_compra_anterior' || element.name == 'precio_venta' || element.name == 'metraje') {
                    $(element).closest('.form-control').addClass('is-invalid');
                    $(element).closest('.form-control').removeClass('is-valid');
                }
            },
            unhighlight: function(element){
                if (element.name == 'nombre' || element.name=='disenho' || element.name=='categoria' || element.name == 'codigo' | element.name == 'precio_compra' || element.name == 'precio_compra_anterior' || element.name == 'precio_venta' || element.name == 'metraje') {
                    $(element).closest('.form-control').addClass('is-valid');
                    $(element).closest('.form-control').removeClass('is-invalid');
                }
            },
            errorPlacement: function (error, element) {
                console.log(element);
                if(element.hasClass("select2-hidden-accessible")) {
                    $(element).closest('.form-control').addClass('select2-error');
                    error.insertAfter(element.next('span'));
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $.validator.addMethod("nombreRule", function (value, element) {
            var pattern = /^[a-zA-Z.-\s]+$/i;
            return this.optional(element) || pattern.test(value);
        }, "* El campo debe tener letras");

        $.validator.addMethod("codigoRule", function (value, element) {
                var pattern = /^[\w-]+$/i;
                return this.optional(element) || pattern.test(value);
            }, "El campo debe tener un valor alfanumérico (azAZ09)");

        $.validator.addMethod("numRule", function (value, element) {
            var pattern = /^[0-9]+$/;
            return this.optional(element) || pattern.test(value);
        }, "* El campo debe ser numerico y mayor a 0");

        $.validator.addMethod("telaRule", function (value, element) {
            var pattern = /^[0-9,.]+$/;
            return this.optional(element) || pattern.test(value);
        }, "* El campo debe ser numerico y mayor a 0");

        $.validator.addMethod("metrajeRule", function (value, element) {
            return parseInt(value) > 0
        }, "* El campo debe ser mayor a 0");
        

    $(form).on('submit', function (e){
        var precio_compra = String($('#id_precio_compra').val());
        var precio_compra_anterior = String($('#id_precio_compra_anterior').val());
        var precio_venta = String($('#id_precio_venta').val());
        var metraje = String($('#id_metraje').val());

        precio_compra = precio_compra.replace('.','');
        precio_compra_anterior = precio_compra_anterior.replace('.','');
        precio_venta = precio_venta.replace('.','');
        metraje = metraje.replace('.','')
                         .replace(',','.');
        $('#id_precio_compra').val(precio_compra);
        $('#id_precio_compra_anterior').val(precio_compra_anterior);
        $('#id_precio_venta').val(precio_venta);
        $('#id_metraje').val(metraje);
    });
});
</script>
{% endblock js_page %}