{% extends 'base/base.html' %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Crear Tela</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'telas:tela_list' %}">Telas</a></li>
                        <li class="breadcrumb-item active">Crear</li>
                    </ol>
                </div>               
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Datos de la Tela</h3>
                        </div>
                        <div class="card-body">
                            {% if obj %}
                                <form method="POST" role="form" id="form" action="{% url 'telas:tela_edit' obj.pk %}">
                            {% else %}
                                <form method="POST" role="form" id="form" action="{% url 'telas:tela_create' %}">
                            {% endif %}
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_nombre"><strong>{{form.nombre.label}}</strong></label>
                                                {{form.nombre}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_codigo"><strong>{{form.codigo.label}}</strong></label>
                                                {{form.codigo}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_precio_compra_anterior"><strong>{{form.precio_compra_anterior.label}}</strong></label>
                                                {{form.precio_compra_anterior}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_disenho"><strong>{{form.disenho.label}}</strong></label>
                                                {{form.disenho}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_categoria"><strong>{{form.categoria.label}}</strong></label>
                                                {{form.categoria}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_precio_compra"><strong>{{form.precio_compra.label}}</strong></label>
                                                {{form.precio_compra}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_color"><strong>{{form.color.label}}</strong></label>
                                                {{form.color}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_precio_venta"><strong>{{form.precio_venta.label}}</strong></label>
                                                {{form.precio_venta}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="id_metraje"><strong>{{form.metraje.label}}</strong></label>
                                                {{form.metraje}}
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                                            
                                            <a class="btn btn-danger float-right" href="{% url 'telas:tela_list' %}">Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_page %}
<script>

$(document).ready(function(){
    var precio_compra = document.getElementById("id_precio_compra");
    precio_compra.addEventListener('keyup', function(evt){
        var n = this.value.replace(/\D/g,"")
                          .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ".");
        precio_compra.value = n;
    }, false);

    var precio_compra_anterior = document.getElementById("id_precio_compra_anterior");
    precio_compra_anterior.addEventListener('keyup', function(evt){
        var n = this.value.replace(/\D/g,"")
                          .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ".");
        precio_compra_anterior.value = n;
    }, false);

    var precio_venta = document.getElementById("id_precio_venta");
    precio_venta.addEventListener('keyup', function(evt){
        var n = this.value.replace(/\D/g,"")
                          .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ".");
        precio_venta.value = n;
    }, false);

    
    $("#form").validate({
		    rules: {
		    	nombre: {required: true, nombreRule:true},
		    	codigo: {required: true, codigoRule:true},
		    	metraje: {required: true, telaRule:true},
            },
            messages: {
                nombre : {required: "* El campo es requerido"},
                categoria : {required: "* Selecciona una opcion"},
                disenho : {required: "* Selecciona una opcion"},
                codigo : {required: "* El campo es requerido"},
                precio_compra: {required: "* El campo es requerido"},
                precio_compra_anterior: {required: "* El campo es requerido"},
                precio_venta: {required: "* El campo es requerido"},
                metraje : {required: "* El campo es requerido"},
            },
            errorElement: 'span',
            highlight: function(element){
                if (element.name == 'nombre' || element.name == 'codigo' || element.name == 'precio_compra' || element.name == 'precio_compra_anterior' || element.name == 'precio_venta' || element.name == 'metraje') {
                    $(element).closest('.form-control').addClass('is-invalid');
                    $(element).closest('.form-control').removeClass('is-valid');
                }
            },
            unhighlight: function(element){
                if (element.name == 'nombre' || element.name == 'codigo' | element.name == 'precio_compra' || element.name == 'precio_compra_anterior' || element.name == 'precio_venta' || element.name == 'metraje') {
                    $(element).closest('.form-control').addClass('is-valid');
                    $(element).closest('.form-control').removeClass('is-invalid');
                }
            }
        });

        $.validator.addMethod("nombreRule", function (value, element) {
            var pattern = /^[a-zA-Z.-\s]+$/i;
            return this.optional(element) || pattern.test(value);
        }, "* El campo debe tener letras");

        $.validator.addMethod("codigoRule", function (value, element) {
                var pattern = /^[\w-]+$/i;
                return this.optional(element) || pattern.test(value);
            }, "El campo debe tener un valor alfanumérico (azAZ09)");

        $.validator.addMethod("numRule", function (value, element) {
            var pattern = /^[0-9]+$/;
            return this.optional(element) || pattern.test(value);
        }, "* El campo debe ser numerico y mayor a 0");

        $.validator.addMethod("telaRule", function (value, element) {
            var pattern = /^[0-9.]+$/;
            return this.optional(element) || pattern.test(value);
        }, "* El campo debe ser numerico y mayor a 0");
});
</script>
{% endblock js_page %}