{% extends 'base/base.html' %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.3.0/jquery.bootstrap-touchspin.min.css" integrity="sha512-0GlDFjxPsBIRh0ZGa2IMkNT54XGNaGqeJQLtMAw6EMEDQJ0WqpnU6COVA91cUS0CeVA5HtfBfzS9rlJR3bPMyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Orden de Compras</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'compras:orden_compras_list' %}">Orden de Compras </a></li>
                        <li class="breadcrumb-item active">Crear</li>
                    </ol>
                </div>               
            </div>
        </div>
    </div>
    <form method="post">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-boxes"></i> Detalle de las Telas</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Buscador de Telas:</label>
                                    <div class="input-group">
                                        <!--<input type="text" class="form-control" name="search"
                                               placeholder="Ingrese una descripción de la tela" autocomplete="off">
                                        <span class="input-group-append">
                                        <button type="button" class="btn btn-danger btn-flat btnClearSearch"><i
                                                class="fas fa-times"></i></button>
                                      </span>-->
                                        <select class="form-control select2" style="width:100%" name="search">
                                        </select>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger btn-sm btn-flat btnRemoveAll">
                                    <i class="fas fa-trash"></i> Eliminar todos mis items
                                </button>
                                <br>

                                <table class="table table-hover text-nowrap" id="tblTelas">
                                    <thead>
                                    <tr>
                                        <th>Tela</th>
                                        <th>Codigo</th>
                                        <th>Precio</th>
                                        <th>Metraje</th>
                                        <th>Subtotal</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-shopping-cart"></i> Datos de la Orden de Compra</h3>
                            </div>
                            <div class="card-body">
                                <input type="hidden" name="action" value="{{ action }}">
                                <div class="form-group">
                                    <label>Fecha de Orden:</label>
                                    {{ form.fecha_orden }}
                                </div>
                                <div class="form-group">
                                    <label>Proveedor:</label>
                                    {{ form.proveedor }}
                                </div>
                                <div class="form-group">
                                    <label>Subtotal:</label>
                                    {{ form.monto_total }}
                                </div>
                                <div class="form-group">
                                    <label>IVA:</label>
                                    {{ form.total_iva_10 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <a href="{% url 'compras:orden_compras_list' %}" class="btn btn-danger float-right btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
{% endblock %}

{% block js_page %}
{% include 'base/functions.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.3.0/jquery.bootstrap-touchspin.min.js" integrity="sha512-0hFHNPMD0WpvGGNbOaTXP0pTO9NkUeVSqW5uFG2f5F9nKyDuHE3T4xnfKhAhnAZWZIO/gBLacwVvxxq0HuZNqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var tblTelas;
    var orden_compras = {
        items: {
            proveedor: '',
            fecha_orden: '',
            monto_total: 0,
            total_iva_10: 0,
            telas: []
        },
        calculate_invoice: function () {
            var monto_total = 0;
            $.each(this.items.telas, function (pos, dict) {
                dict.pos = pos;
                dict.subtotal = Math.round(dict.metraje * parseInt(dict.precio_unitario
                ));
                monto_total += dict.subtotal;
            });
            this.items.monto_total = monto_total;
            total_iva_10 = Math.round(monto_total / 11);
            $('input[name=monto_total]').val(this.items.monto_total);
            $('input[name=total_iva_10]').val(total_iva_10);
        },
        add: function (item) {
            this.items.telas.push(item);
            this.list();
        },
        list: function () {
            this.calculate_invoice();
            tblTelas = $('#tblTelas').DataTable({
                destroy: true,
                ordering: false,
                info: false,
                responsive: true,
                autoWidth: false,
                filter: false,
                paging: false,
                searching: false,
                data: this.items.telas,
                columns: [
                    {"data": "nombre"},
                    {"data": "codigo"},
                    {"data": "precio_unitario"},
                    {"data": "metraje"},
                    {"data": "subtotal"},
                    {"data": "id"},
                ],
                columnDefs: [
                    {
                        targets: [2],
                        class: 'text-center',
                        orderable: false,
                        render: function (data, type, row) {
                            return '<input type="text" name="precio_unitario" class="form-control form-control-sm input-sm" autocomplete="off" value="' + row.precio_unitario + '">';
                        }
                    },
                    {
                        targets: [3],
                        class: 'text-center',
                        orderable: false,
                        render: function (data, type, row) {
                            return '<input type="text" name="metraje" class="form-control form-control-sm input-sm" autocomplete="off" value="' + row.metraje + '">';
                        }
                    },
                    {
                        targets: [4],
                        class: 'text-center',
                        orderable: false,
                        render: function (data, type, row) {
                            return parseInt(data);
                        }
                    },
                    {
                        targets: [5],
                        class: 'text-center',
                        orderable: false,
                        render: function (data, type, row) {
                            return '<a rel="remove" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash-alt"></i></a>';
                        }
                    }
                ],
                rowCallback(row, data, displayNum, displayIndex, dataIndex) {

                    $(row).find('input[name="metraje"]').TouchSpin({
                        min: 1,
                        max: 1000000000,
                        step: 0.01,
                        decimals: 2
                    });

                },
                initComplete: function (settings, json) {

                }
            });
        },
    };

    $('#id_proveedor').select2({
        language: "es"
    });

    $('#fecha_orden').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: 'es',
        //minDate: moment().format("YYYY-MM-DD")
    });

    /*$("input[name='iva']").TouchSpin({
        min: 0,
        max: 100,
        step: 0.01,
        decimals: 2,
        boostat: 5,
        maxboostedstep: 10,
        postfix: '%'
    }).on('change', function () {
        compras.calculate_invoice();
    })
        .val(0.10);*/

    // search telas

    $('select[name="search"]').select2({
        placeholder: 'Ingrese la descripción del producto',
        language:'es',
        allowClear: true,
        ajax: {
            delay: 250,
            type: 'POST',
            url: window.location.pathname,
            data: function (params){
                var queryParameters = {
                    term: params.term,
                    action: 'search_telas'
                }
                return queryParameters;
            },
            processResults: function (data){
                return {
                    results: data
                };
            }
        },
        minimumInputLength:1,
    }).on('select2:select', function (e){
        var data = e.params.data;
        console.log(data)
        data.metraje = 1;
        data.precio_unitario = 0
        data.subtotal = 0;
        if (orden_compras.items.telas.find(tela => tela.id === data.id)){
            Swal.fire({
                icon: 'warning',
                title: 'Atención!',
                text: 'Por favor, debe seleccionar otra tela.',
                confirmButtonColor:"#007bff",
            });
        } else {
            orden_compras.add(data);
            console.log(orden_compras)
        }
        $(this).val('').trigger('change.select2');
    });

    $('.btnRemoveAll').on('click', function () {
        if (orden_compras.items.telas.length === 0) return false;
        alert_action('Notificación', '¿Estas seguro de eliminar todos los items de tu detalle?', function () {
            orden_compras.items.telas = [];
            orden_compras.list();
        });
    });

    // event metraje
    $('#tblTelas tbody')
    .on('click', 'a[rel="remove"]', function () {
        Swal.fire({
            title: '¿Estás seguro de eliminar el producto del detalle?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#dc3545',
            cancelButtonText:"Cancelar",
            confirmButtonText: 'Si, Eliminar',
            reverseButtons:true,
        }).then((result) => {
            if (result.isConfirmed) {
                var tr = tblTelas.cell($(this).closest('td,li')).index();
                orden_compras.items.telas.splice(tr.row, 1);
                orden_compras.list();
            }
        })
    })
    .on('change keyup', 'input[name="metraje"]', function () {
        var metraje = parseFloat($(this).val());
        var tr = tblTelas.cell($(this).closest('td, li')).index();
        orden_compras.items.telas[tr.row].metraje = metraje;
        orden_compras.calculate_invoice();
        $('td:eq(4)', tblTelas.row(tr.row).node()).html(orden_compras.items.telas[tr.row].subtotal);
    })
    .on('change keyup', 'input[name="precio_unitario"]', function () {
        var precio_unitario = parseFloat($(this).val());
        var tr = tblTelas.cell($(this).closest('td, li')).index();
        orden_compras.items.telas[tr.row].precio_unitario = precio_unitario;
        orden_compras.calculate_invoice();
        $('td:eq(4)', tblTelas.row(tr.row).node()).html(orden_compras.items.telas[tr.row].subtotal);
    });

    $('.btnClearSearch').on('click', function () {
        $('input[name="search"]').val('').focus();
    });

    // event submit
    $('form').on('submit', function (e) {
        e.preventDefault();

        if(orden_compras.items.telas.length === 0){
            message_error('Debe al menos tener un item en su detalle de Orden de compra');
            return false;
        }

        orden_compras.items.fecha_compra = $('input[name="fecha_orden"]').val();
        orden_compras.items.proveedor = $('select[name="proveedor"]').val();
        var parameters = new FormData();
        parameters.append('action', $('input[name="action"]').val());
        parameters.append('orden_compras', JSON.stringify(orden_compras.items));  
        submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {
            location.href = '/compras/orden_compra/list/';
        });
    });
    // Esto se puso aqui para que funcione bien el editar y calcule bien los valores del iva. // sino tomaría el valor del iva de la base debe
    // coger el que pusimos al inicializarlo. 
    orden_compras.list();

</script>
{% endblock js_page %}
