{% extends 'base/base.html' %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Crear Ciudad</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'ubicaciones:ciudad_list' %}">Ciudades</a></li>
                        <li class="breadcrumb-item active">Crear</li>
                    </ol>
                </div>               
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Nuevo</h3>
                        </div>
                        <div class="card-body">
                            {% if obj %}
                                <form method="POST" role="form" id="form" action="{% url 'ubicaciones:ciudad_edit' obj.pk %}">
                            {% else %}
                                <form method="POST" role="form" id="form" action="{% url 'ubicaciones:ciudad_create' %}">
                            {% endif %}
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="id_departamento"><strong>{{form.departamento.label}}</strong></label>
                                    {{form.departamento}}
                                </div>
                                <div class="col-md-6">
                                    <label for="id_descripcion"><strong>{{form.descripcion.label}}</strong></label>
                                    {{form.descripcion}}
                                </div>
                            </div>
                            <br>
                            <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                                            
                                            <a class="btn btn-danger float-right" href="{% url 'ubicaciones:ciudad_list' %}">Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_page %}
<script>
    var options = {
        rules: {
            'departamento' : {required: [true, '* Debe seleccionar un departamento'] },
            'descripcion': { required: [true,'* El campo descripción es requerido'] },
        }
    };
    var formObject = new ej.inputs.FormValidator('#form', options);
</script>
{% endblock js_page %}