{% extends 'base/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'base/plugins/datepicker-1.0.10/datepicker.min.css' %}" rel="stylesheet">
{% endblock css%}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Compras</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item active">Compras</li>
                    </ol>
                </div>               
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">Listado de Compras</h3>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-end">
                                <div class="col-md-2">
                                </div>
                            </div>
                        <form method="GET" role="form" id="pdf" action="{% url 'compras:compra_listado_pdf' %}">
                            {% csrf_token %}
                            <input type="hidden" name="extension" id="extension">
                            <div class="row">
                                <!--<div class="col-md-4">
                                    <label for="proveedor"><strong>Proveedores:</strong></label>
                                    <input type="text" class="form-control" id="proveedor" placeholder="Buscar por Nombre de la Empresa, Ruc">
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label><strong>Estado:</strong></label>
                                        <select id='estado' class="form-control" style="width: 200px">
                                            <option value="1">ACTIVOS</option>
                                            <option value="0">INACTIVOS</option>
                                        </select>
                                    </div>
                                </div>-->
                        
                                <div class="col-md-4">
                                    <label for="tela"><strong>Proveedor:</strong></label>
                                    <input type="text" class="form-control" name="proveedor" id="proveedor" value="{{proveedor}}" placeholder="Buscar por Nombre del Proveedor" autocomplete="off">
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Fecha Desde:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="text" onkeydown="return false" class="form-control datetimepicker-input" data-toggle="datetimepicker" name="fecha_desde" id="fecha_desde" value="{{fecha_desde}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Fecha Hasta:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="text" onkeydown="return false" class="form-control datetimepicker-input" data-toggle="datetimepicker" name="fecha_hasta" id="fecha_hasta" value="{{fecha_hasta}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label><strong>Condición de Compra:</strong></label>
                                        <select id='condicion_compra' class="form-control">
                                            <option value="">Todos</option>
                                            <option value="contado">Contado</option>
                                            <option value="credito">Crédito</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-2">
                                        <button type="submit" id="exportar_pdf" class="btn btn-block btn-outline-danger">
                                            <i class="fas fa-file-pdf"></i> Exportar en Pdf
                                        </button>
                                    </div>
                                    <!--  <div class="col-md-2">
                                       <button type="submit" id="exportar_excel" class="btn btn-block btn-outline-success">
                                            <i class="fas fa-file-pdf"></i> Exportar a Excel
                                        </button> 
                                    </div> -->
                                </div>
                        </form>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped table-hover" id ="tblCompras">
                                        <thead>
                                            <th>Nro. Factura</th>
                                            <th>Timbrado</th>
                                            <th>Proveedor</th>
                                            <th>Fecha Compra</th>
                                            <th>Condición de Compra</th>
                                            <th>Monto Total</th>
                                            <th>Acciones</th>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'compras/partials/modal_detalle.html' %}
    {% include 'compras/partials/modal_detalle_credito.html' %}
    {% include 'compras/partials/modal_detalle_pago.html' %}
{% endblock content %}

{% block js_page %}
    {% include 'base/functions.html' %}
    {% include 'base/partials/sweet_delete.html' %}
    {% include 'base/partials/functions_cuota.html' %}

    <script src="{% static 'base/plugins/datepicker-1.0.10/datepicker.min.js' %}"></script>
    <script src="{% static 'base/plugins/datepicker-1.0.10/datepicker.es-ES.js' %}"></script>
    <script>
        $(document).ready(function() {   
            $('#fecha_desde').datetimepicker({
                format: 'DD/MM/YYYY',
                locale: 'es',
                ignoreReadonly: true
            });

            $('#fecha_hasta').datetimepicker({
                format: 'DD/MM/YYYY',
                locale: 'es',
                ignoreReadonly: true
            });

            var table = $('#tblCompras').DataTable({
                responsive: true,
                autoWidth: false,
                filter: false,
                ajax: {
                    url: window.location.pathname,
                    type: 'POST',
                    "data": function (d) {
                        d.action = 'searchdata',
                        d.compra = $('#compra').val(),
                        d.proveedor = $('#proveedor').val(),
                        d.condicion_compra = $('#condicion_compra').val(),
                        d.fecha_desde = $('#fecha_desde').val(),
                        d.fecha_hasta = $('#fecha_hasta').val()
                    },
                    dataSrc: ""
                },
                columns: [
                    { "data": "nro_factura"},
                    { "data": "timbrado"},
                    { "data": "proveedor.nombre_empresa"},
                    { "data": "fecha_compra"},
                    { "data": "condicion_compra"},
                    { "data": "monto_total"},
                    { 
                        "render": function( data, type, full ) {
                            var button = ''
                            if (full.condicion_compra=='credito'){
                                button += ' <a rel="detalle_credito" class="btn btn-secondary btn-sm"><i class="fas fa-eye"></i> Ver Crédito</a>';
                            }
                            if (full.condicion_compra=='credito' && full.pendiente_pago >= 1){
                                button += ' <a rel="detalle_pago" class="btn btn-success btn-sm"><i class="fas fa-check"></i> Registrar Pago</a>';
                            }
                            if (full.condicion_compra=='credito' || full.condicion_compra=='contado' ){
                                button += ' <a target="_blank" class="btn btn-info btn-circle btn-sm" href="/compras/compras/listado/pdf/'+ full.id+'/" > <i class="fas fa-file-pdf"></i> </a>';
                            }
                            return  ' <a rel="details" class="btn btn-secondary btn-sm"><i class="fas fa-eye"></i> Ver Compra</a>' + button;
                        },
                        "orderable":false
                    }
                ],
                columnDefs: [
                            {
                                targets: [5],
                                class: 'text-center',
                                render: function (data, type, row) {
                                    return 'Gs. ' + Intl.NumberFormat('de-DE').format(data);
                                }
                            },

                        ],
                language:{
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "processing": '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> ',
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "{Filtrando de _MAX_ total de entradas}",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encotrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior",
                    }
                }
            });

            $('.table tbody')
                .on('click', 'a[rel="details"]', function () {
                    var tr = table.cell($(this).closest('td, li')).index();
                    var data = table.row(tr.row).data();

                    $('#tblDetalle').DataTable({
                        responsive: true,
                        autoWidth: false,
                        destroy: true,
                        deferRender: true,
                        filter: false,
                        paging: false,
                        searching: true,
                        info: false,
                        data: data.detalle,
                        
                        columns: [
                            {"data": "tela.nombre"},
                            {"data": "tela.codigo"},
                            {"data": "precio_costo"},
                            {"data": "metraje_comprado"},
                            {"data": "sub_total"},
                        ],
                        columnDefs: [
                            {
                                targets: [-1],
                                class: 'text-center',
                                render: function (data, type, row) {
                                    return 'Gs. ' + Intl.NumberFormat('de-DE').format(data);
                                }
                            },
                            {
                                targets: [-3],
                                class: 'text-center',
                                render: function (data, type, row) {
                                    return 'Gs. ' + Intl.NumberFormat('de-DE').format(data);
                                }
                            },
                            {
                                targets: [-2],
                                class: 'text-center',
                                render: function (data, type, row) {
                                    return data;
                                }
                            },
                        ],
                        initComplete: function (settings, json) {

                        }
                    });

                   
                    $('#myModelDet').modal('show');
                        
            });

            $('.table tbody')
            .on('click', 'a[rel="detalle_credito"]', function () {
                var tr = table.cell($(this).closest('td, li')).index();
                var data = table.row(tr.row).data();
                console.log(data)
                $('#id_monto_total').text(Intl.NumberFormat('de-DE').format(data.monto_total))
                if (data.saldo_actual.monto_cuota__sum==null){
                    $('#id_saldo_actual').text(0);
                }
                else{
                    $('#id_saldo_actual').text(Intl.NumberFormat('de-DE').format(data.saldo_actual.monto_cuota__sum));
                }
                console.log(data.saldo_actual.monto_cuota__sum)
                $('#tblDetalleCredito').DataTable({
                    responsive: true,
                    autoWidth: false,
                    destroy: true,
                    deferRender: true,
                    filter: false,
                    paging: false,
                    searching: false,
                    info: false,
                    data: data.detalle_credito,
                    columns: [
                        {"data": "numero_cuota"},
                        {"data": "monto_cuota"},
                        {"data": "estado"},
                        {"data": "fecha_vencimiento"},
                        {"data": "fecha_cancelacion"},
                    ],
                    columnDefs: [
                        {
                            targets: [1],
                            render: function (data, type, row) {
                                return Intl.NumberFormat('de-DE').format(data);
                            }
                        },
                        {
                            targets: [-1, -3],
                            render: function (data, type, row) {
                                return data;
                            }
                        },
                        {
                            targets: [-2],
                            render: function (data, type, row) {
                                return data;
                            }
                        },
                    ],
                    initComplete: function (settings, json) {

                    }
                });
                $('#detalle_credito').modal('show');
            });

            $('.table tbody')
            .on('click', 'a[rel="detalle_pago"]', function () {
                var tr = table.cell($(this).closest('td, li')).index();
                var data = table.row(tr.row).data();
                console.log(data)
                $('#tblPago').DataTable({
                    responsive: true,
                    autoWidth: false,
                    destroy: true,
                    deferRender: true,
                    filter: false,
                    paging: false,
                    searching: false,
                    info: false,
                    data: data.detalle_pago,
                    columns: [
                        {"data": "numero_cuota"},
                        {"data": "monto_cuota"},
                        {"data": "estado"},
                        {"data": "medio_pago"},
                        {"data": "banco"},
                        {"data": "fecha_vencimiento"},
                        {"data": "fecha_cancelacion"},
                        {"data": "id"},
                    ],
                    columnDefs: [
                        {
                            targets: [1],
                            render: function (data, type, row) {
                                return Intl.NumberFormat('de-DE').format(data);
                            },
                        },
                        {
                            targets: [2],
                            render: function (data, type, row) {
                                return (data);
                            },
                        },
                        {
                            targets: [3],
                            render: function (data, type, row) {

                                var $select = $("<select class='form-control' style='width:100px' name='medio_pago' id='medio_pago'><option value='Cheque'>Cheque</option><option value='Efectivo'>Efectivo</option></select>");
                                $select.find('option[value="' + row.medio_pago + '"]').attr('selected', 'selected');
                                return $select[0].outerHTML

                            },
                        },
                        {
                            targets: [4],
                                render: function (data, type, row) {
                                    if (row.medio_pago == 'Efectivo' && row.estado=='Pagado'){
                                            return ""
                                    }
                                    else {
                                    var $select = $("<select class='form-control' style='width:100px' name = 'banco' id='banco'>{% for banco in bancos %}<option value='{{ banco.id }}''>{{ banco.descripcion}}</option>{% endfor %}</select>");
                                    $select.find('option[value="' + row.banco + '"]').attr('selected', 'selected');
                                    return $select[0].outerHTML                                    }
                                },
                        },
                        {
                            targets: [7],
                            render: function (data, type, row) {
                                var buttons = ''; 
                                if (row.estado=='Pendiente'){
                                    buttons += '<button id="boton" name="botonPago" title="Guardar" class="btn btn-success btn-sm"><i class="fas fa-save"></i></button>';
                                }
                                return buttons;
                            }
                        },
                    ],
                    initComplete: function (settings, json) {

                    }
                });
                $('#detalle_pago').modal('show');
            });

            $('#tblPago').on('change', 'select[name="medio_pago"]', function () {
                var tabla_pago = $('#tblPago').DataTable();
                console.log(tabla_pago)
                var tr = tabla_pago.cell($(this).closest('td, li')).index();
                var data = tabla_pago.row(tr.row).data();
                var medio_pago = $(this).val();
                if (medio_pago=='Efectivo') {
                    $('td:eq(4)', tabla_pago.row(tr.row).node()).css('visibility', 'hidden');
                }
                else {
                    $('td:eq(4)', tabla_pago.row(tr.row).node()).css('visibility', 'visible');
                }
                console.log(medio_pago)
            });

            $('#tblPago').on('click', 'button[name="botonPago"]', function () {
                var tabla_pago = $('#tblPago').DataTable();
                var tr = tabla_pago.cell($(this).closest('td, li')).index();
                var data = tabla_pago.row(tr.row).data();
                var medio_pago = $('td:eq(3) select', tabla_pago.row(tr.row).node()).val();
                var banco=$('td:eq(4) select', tabla_pago.row(tr.row).node()).val();
                var estado=$('td:eq(2)', tabla_pago.row(tr.row).node()).text();
                console.log(estado)
                var id=$('td:eq(5)', tabla_pago.row(tr.row).node()).text();
                alert_action('Notificación', '¿Desea pagar la cuota?', function () {
                    $.ajax({
                        url: window.location.pathname,
                        type: 'POST',
                        data: {
                            'action': 'edit_cuota',
                            'id': data.id,
                            'estado': estado,
                            'medio_pago': medio_pago,
                            'banco': banco,
                        },
                        dataType: 'json',
                    }).done(function (data) {
                        $('#tblCompras').DataTable().ajax.reload();
                        if(data.error){
                            Swal.fire({
                                title: 'Error!',
                                html: data.message,
                                confirmButtonColor: '#007bff',
                                icon: 'error'
                            });
                        } else {
                            $('#tblVentas').DataTable().ajax.reload();
                                Swal.fire({
                                title: 'Éxito',
                                text: "Pago generado éxitosamente",
                                icon: 'success',
                                confirmButtonColor: '#007bff',
                                showCancelButton: false,
                                allowOutsideClick: false
                            }).then(function(result)  {
                                window.location.href = "/compras/compra/list";
                            });
                        }
                    }).always(function (data) {

                    });
                }, function () {
                    
                });
            });

            $('#proveedor').keyup(function(){
                table.ajax.reload();
            });
            
            $('#compra').keyup(function(){
                table.draw();
            });
            $('input[name="fecha_desde"]').on('change.datetimepicker', function() {
                table.ajax.reload();
            });
            $('input[name="fecha_hasta"]').on('change.datetimepicker', function() {
                table.ajax.reload();
            });
            $('#condicion_compra').change(function(){
                table.ajax.reload();
            });
        });
    </script>
{% endblock js_page %}