{% extends 'base/base.html' %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.3.0/jquery.bootstrap-touchspin.min.css" integrity="sha512-0GlDFjxPsBIRh0ZGa2IMkNT54XGNaGqeJQLtMAw6EMEDQJ0WqpnU6COVA91cUS0CeVA5HtfBfzS9rlJR3bPMyw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock css %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Compras</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'compras:compras_list' %}">Compras </a></li>
                        <li class="breadcrumb-item active">Crear</li>
                    </ol>
                </div>               
            </div>
        </div>
    </div>
    <form method="post">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-boxes"></i> Detalle de las Telas</h3>
                            </div>
                            <div class="card-body">

                                <br>

                                <table class="table table-hover text-nowrap" id="tblTelas">
                                    <thead>
                                    <tr>
                                        <th>Tela</th>
                                        <th>Codigo</th>
                                        <th>Precio</th>
                                        <th>Metraje</th>
                                        <th>Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-shopping-cart"></i> Datos de la Compra</h3>
                            </div>
                            <div class="card-body">
                                <input type="hidden" name="action" value="{{ action }}">
                                <div class="form-group">
                                    <label>Fecha de Compra:</label>
                                    {{ form.fecha_compra }}
                                </div>
                                <div class="form-group">
                                    <label>Proveedor:</label>
                                    {{ form.proveedor }}
                                </div>
                                <div class="form-group">
                                    <label>Nro. Factura:</label>
                                    {{ form.nro_factura }}
                                </div>
                                <div class="form-group">
                                    <label>Timbrado:</label>
                                    {{ form.timbrado }}
                                </div>
                                <div class="form-group">
                                    <label>Valido Desde:</label>
                                    {{ form.inicio_timbrado }}
                                </div>
                                <div class="form-group">
                                    <label>Valido Hasta:</label>
                                    {{ form.fin_timbrado }}
                                </div>
                                <div class="form-group">
                                    <label>Condición de Compra:</label>
                                    {{ form.condicion_compra }}
                                </div>
                                <div class="form-group">
                                    <label>Subtotal:</label>
                                    {{ form.monto_total }}
                                </div>
                                <div class="form-group">
                                    <label>IVA:</label>
                                    {{ form.total_iva_10 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <a href="{% url 'compras:compras_list' %}" class="btn btn-danger float-right btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
{% endblock %}

{% block js_page %}
{% include 'base/functions.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.3.0/jquery.bootstrap-touchspin.min.js" integrity="sha512-0hFHNPMD0WpvGGNbOaTXP0pTO9NkUeVSqW5uFG2f5F9nKyDuHE3T4xnfKhAhnAZWZIO/gBLacwVvxxq0HuZNqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var tblTelas;
    var compras = {
        items: {
            proveedor: '',
            fecha_compra: '',
            inicio_timbrado: '',
            fin_timbrado: '',
            condicion_compra: '',
            monto_total: 0,
            total_iva_10: 0,
            telas: []
        },
        calculate_invoice: function () {
            var monto_total = 0;
            $.each(this.items.telas, function (pos, dict) {
                dict.pos = pos;
                dict.subtotal = Math.round(dict.metraje_comprado * parseInt(dict.precio_costo));
                monto_total += dict.subtotal;
            });
            this.items.monto_total = monto_total;
            total_iva_10 = Math.round(monto_total / 11);
            $('input[name=monto_total]').val(this.items.monto_total);
            $('input[name=total_iva_10]').val(total_iva_10);
        },
        add: function (item) {
            this.items.telas.push(item);
            this.list();
        },
        list: function () {
            this.calculate_invoice();
            tblTelas = $('#tblTelas').DataTable({
                destroy: true,
                ordering: false,
                info: false,
                responsive: true,
                autoWidth: false,
                filter: false,
                paging: false,
                searching: false,
                data: this.items.telas,
                columns: [
                    {"data": "nombre"},
                    {"data": "codigo"},
                    {"data": "precio_costo"},
                    {"data": "metraje_comprado"},
                    {"data": "sub_total"},
                ],
                columnDefs: [
                    {
                        targets: [2],
                        class: 'text-center',
                        orderable: false,
                        render: function (data, type, row) {
                            return 'Gs. ' + parseInt(data);
                        }
                    },
                    {
                        targets: [3],
                        class: 'text-center',
                        orderable: false,
                        render: function (data, type, row) {
                            return '<input type="text" name="metraje_comprado" class="form-control form-control-sm input-sm" autocomplete="off" value="' + row.metraje_comprado + '">';
                        }
                    },
                ],
                rowCallback(row, data, displayNum, displayIndex, dataIndex) {

                    $(row).find('input[name="metraje_comprado"]').TouchSpin({
                        min: 1,
                        max: 1000000000,
                        step: 0.01,
                        decimals: 2
                    });

                },
                initComplete: function (settings, json) {

                }
            });
        },
    };

    $('#id_proveedor').select2({
        language: "es"
    });

    $('#fecha_compra').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: 'es',
        //minDate: moment().format("YYYY-MM-DD")
    });
    $('#inicio_timbrado').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: 'es',
        //minDate: moment().format("YYYY-MM-DD")
    });
    $('#fin_timbrado').datetimepicker({
        format: 'YYYY-MM-DD',
        locale: 'es',
        //minDate: moment().format("YYYY-MM-DD")
    });

    /*$("input[name='iva']").TouchSpin({
        min: 0,
        max: 100,
        step: 0.01,
        decimals: 2,
        boostat: 5,
        maxboostedstep: 10,
        postfix: '%'
    }).on('change', function () {
        compras.calculate_invoice();
    })
        .val(0.10);*/

    // search telas

    
    // event metraje
    $('#tblTelas tbody')
    .on('change keyup', 'input[name="metraje_comprado"]', function () {
        var metraje_comprado = parseFloat($(this).val());
        var tr = tblTelas.cell($(this).closest('td, li')).index();
        compras.items.telas[tr.row].metraje_comprado = metraje_comprado;
        compras.calculate_invoice();
        $('td:eq(4)', tblTelas.row(tr.row).node()).html(compras.items.telas[tr.row].subtotal);
    }); 

    $('.btnClearSearch').on('click', function () {
        $('input[name="search"]').val('').focus();
    });

    // event submit
    $('form').on('submit', function (e) {
        e.preventDefault();

        if(compras.items.telas.length === 0){
            message_error('Debe al menos tener un item en su detalle de compra');
            return false;
        }

        compras.items.fecha_compra = $('input[name="fecha_compra"]').val();
        compras.items.inicio_timbrado = $('input[name="inicio_timbrado"]').val();
        compras.items.fin_timbrado = $('input[name="fin_timbrado"]').val();
        compras.items.proveedor = $('select[name="proveedor"]').val();
        compras.items.nro_factura = $('input[name="nro_factura"]').val();
        compras.items.timbrado = $('input[name="timbrado"]').val();
        compras.items.condicion_compra = $('select[name="condicion_compra"]').val();
        var parameters = new FormData();
        parameters.append('action', $('input[name="action"]').val());
        parameters.append('compras', JSON.stringify(compras.items));  
        submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {
            location.href = '/compras/compra/list/';
        });
    });
    compras.items.telas = {{ detalles|safe }};
    var detalle = {{ detalles|safe }}
    console.log(detalle);
    // Esto se puso aqui para que funcione bien el editar y calcule bien los valores del iva. // sino tomaría el valor del iva de la base debe
    // coger el que pusimos al inicializarlo. 
    compras.list();

</script>
{% endblock js_page %}
