<script>
    function eliminar (url, redirect_url) { 
        Swal.fire({
            "title":"¿Estás seguro que quiere eliminar?",
            "text":"Esta acción no se puede deshacer.",
            "icon":"question",
            "showCancelButton":true,
            "cancelButtonText":"No, Cancelar",
            "confirmButtonText":"Si, Eliminar",
            "reverseButtons":true,
            "confirmButtonColor":"#dc3545",
            "showLoaderOnConfirm": true,
            "preConfirm": function(login)  {
                return $.get(url,function(result) {
                    return result;
                })
                .fail(function(error) {
                    Swal.fire({
                        title:'Error',
                        text:'Ha Ocurrido un error, intente mas tarde',
                        icon:'error',
                        confirmButtonColor: '#007bff',
                    });
                })
            }
        })
        .then(function(result) {
            if(result.value) {
                if (result.value.error) {
                    Swal.fire({
                        title:'Error',
                        text:result.value.message,
                        icon:'error',
                        confirmButtonColor: '#007bff',
                    });
                }else{
                    Swal.fire({
                        title: 'Éxito',
                        text: result.value.message,
                        icon: 'success',
                        confirmButtonColor: '#007bff',
                        showCancelButton: false,
                        allowOutsideClick: false
                    }).then(function(result)  {
                        console.log(result);
                        window.location.href = redirect_url;
                    });

                }
            }
        });
    }
</script>